In [2]:
from class_basket import StockPortfolio, StockDataFetcher
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import os

name_bt="Backtest"
N = 3  # Number of assets
VT = 0.2  # Volatility target (example)
start_date = '2023-11-15'
end_date = '2025-01-16'

# COV_mat = np.zeros((N, N, data.shape[0]), dtype=float)  # covariance matrix
portfolio = StockPortfolio(N, start_date, end_date, VT)
BT, tickers = portfolio.run_optimization()
BT

Current valid tickers: {'KRBP', 'DBMM', 'FHB'}

            Index Level
Date
2024-03-19   100.000000
2024-03-20   104.033146
2024-03-21   104.556438
2024-03-22   104.977112
2024-03-25   104.633069
...                 ...
2025-01-08   210.221513
2025-01-10   209.514465
2025-01-13   209.735492
2025-01-14   209.819765
2025-01-15   209.724127

[208 rows x 1 columns]

In [3]:
from class_basket import Equally_weighted, StockDataFetcher
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import os

df_equally_weighted, _ = Equally_weighted(N, start_date, end_date,tickers).compute_equally_weighted_basket()
print("Equally Weighted Basket:\n", df_equally_weighted.head())

Current valid tickers: {'CMCM', 'FFIE', 'PLCE'}
Equally Weighted Basket:
                            Equally Weighted
Date
2023-11-15 00:00:00-05:00               NaN
2023-11-16 00:00:00-05:00          0.843980
2023-11-17 00:00:00-05:00          0.857774
2023-11-20 00:00:00-05:00          0.860873
2023-11-21 00:00:00-05:00          0.824664

In [4]:
BT.join(df_equally_weighted)
BT

            Index Level
Date
2024-03-19   100.000000
2024-03-20   104.033146
2024-03-21   104.556438
2024-03-22   104.977112
2024-03-25   104.633069
...                 ...
2025-01-08   210.221513
2025-01-10   209.514465
2025-01-13   209.735492
2025-01-14   209.819765
2025-01-15   209.724127

[208 rows x 1 columns]